@font-face {
    font-family: "Coconat-Regular";
    src: url("Coconat-Regular.otf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html, body {
    font-family: "Coconat-Regular";
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-image: url('./THYRSE_WEB.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-weight: normal;
    font-size: 1.2em;    
}

a {
    color: #ffffff;
}

#page {
    padding-top: 10rem;
    padding-bottom: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#logo-letters {
    width: 30rem;
    height: auto;
    margin-top: 2rem;
}

#logo-letters img {
    width: 100%;
    height: auto;
}

#logo-icon {
    width: 5rem;
}

#logo-icon img {
    width: 100%;
    height: auto;
}

#instagram {
    width: 100%;
}

#instagram h2 {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instagram h2 a {
    margin-top: .4em;
}

@media (max-width: 640px) {
    #logo-letters {
        width: 15rem;
    }
}