@font-face {
    font-family: "Coconat-Regular";
    src: url("Coconat-Regular.otf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html, body {
    font-family: "Coconat-Regular";
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-image: url('/THYRSE_WEB.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-weight: normal;
    font-size: 1.2em;    
}

a {
    color: #ffffff;
}

#page {
    padding-top: 10rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#logo-letters img {
    width: 400px;
    height: auto;
}

#logo-icon img {
    width: 100px;
    height: auto;
}

#instagram {
    width: 80%;
}

#instagram h2 {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instagram h2 a {
    margin-top: .4em;
}